*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../ambulance.jpg.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    width: 100%;
    font-size: 22px;
    margin-left: 10%;
    margin-top: 20%;
    font-weight:600;
}
table{
    width: 480px;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 15px;
    table-layout: fixed;
    text-align: center;
    background: white;
    opacity: 0.6;
    color: black;
    margin-top: 125px;
    font-family: Arial;
    font-style: bold;
}
table, th, td{
    border: 3px solid black;
    border-collapse: collapse;
}
